<style>
	a{color:#999999; text-decoration:none; size:0.8em;}
	a:hover;{color:#000000; text-decoration:underline;}
	.tweet_container{width:100%;}
</style>
<div style="position:absolute; top:0px; right:33px; width:333px;"></div>
<%= @tweetcode.to_s %>